/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
   
* {cursor: url(https://cur.cursors-4u.net/nature/nat-6/nat598.cur), auto !important;} /* End https://www.cursors-4u.com */

body {
  background-color: #436a7b;
  background-image: url('/archives/assets/stars.gif');
  font-size: 16px;
  font-family: ms gothic, 'MS PGothic', sans-serif;
  background-attachment: fixed;
  margin: 0;
}

header{
  background: transparent;
   margin: 3em auto;
  width: 90%;
	max-width: 800px;
  position: relative;
}
#bun{
  position: absolute;
  image-rendering: pixelated;
  width: 110px;
  right: 90px;
}

#title{
  color: white;
  image-rendering: pixelated;
  font-size: 2.5em;
  margin-left: 62px;
}

main{
  width: 90%;
  margin: 5px;
}
section{
  border: 2px inset rgb(214, 214, 214);
  padding: 5px;
  margin-top: 10px;
}

aside{
  margin: 5px;
}

p {
  line-height: 1.6em;
}

hr {
  border: solid #cfcfcf;
  border-width: 2px 0 0 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .small {
    max-width: 60%;
    height: auto;
  }
}
.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

a:hover { 
  background-color: #1f78ff8f;
}

h1, h2, h3, h4, h5 {
  font-family:  ms gothic, 'MS PGothic', sans-serif;
  color: #34436f;
}

/*#CONTAINER is the rectangle that contains everything but the background!*/
#container {
  margin: 3em auto;
  width: 90%;
	max-width: 800px;
	background-color: #ffffff;
  color: #151515; 
}

#content {
  padding: 10px 3% 20px 3%;
}


/*HEADER STYLE*/
#header {
  background-color: #384879;
  padding: 0 5%;
  border-width: 0 0 4px 0;
  text-align: center;
}
#header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
}
#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
#header li a {
  color: white;
  text-decoration: none;
  background-color: inherit;
}
#header li a:hover {
  text-decoration: underline;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
  text-align: center;
}