
#siwebring {
	color: black!important
}

#siwebring #templateWebring {
    font-family: trebuchet ms, sans-serif;
    text-align: center;
    width: 270px; 
    height: 170px;
    background: url('/siwebring/siwidgetbg.png') no-repeat;
    background-size: cover;
    border: 3px #FF74B8 solid;
    font-size: 16px;
}

#siwebring #templateWebring a {
    color: #E7338C;
}

#siwebring #templateWebring a:hover{
    font-weight: bold;
}

#siwebring #webringboxes {
display: flex;
justify-content: center;
align-items: center;
padding-top: 10px;
height: 100px;
}

#siwebring #webringiconbox, #siwebring #iconWebring {
    width: 100px ;
    height: 100px;
    display: block;
}

#siwebring #webringiconbox {
    border: 3px solid #FF74B8;
    border-radius: 4px;

}

#siwebring #webringdescbox {
    width: 170px;
    margin-left: 20px;
}

#siwebring #webringdesc {  
    -webkit-text-stroke: white 3px;
    paint-order: stroke; 
}

#siwebring #webringlinks{
    width:100%;
    margin:auto;
}